.Container{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
}

.Info{
    width: 50%;
}

h1{
    width: 400px;
    font-size: 54px;
    padding: 40px 0;
}

.Description{
    font-size: 20px;
    max-width: 450px;
    letter-spacing: .6px;
    padding-bottom: 40px;
}

.Buttons{
    display: flex;
    gap: 10px;
}

.Ordinary{
    height: 52px;
    width: 150px;
    background-color: #611F69 !important;
}

.Temporary{
    height: 52px;
    display: flex;
    justify-content: space-between;
}

.Logo{
    width: 40px;
    background-color: white;
    margin-right: 8px;
}

.Banner{
    padding: 40px 0;
    width: 50%;
    /* background-color: blue; */
}

.HeroImg{
    width: 100%;
    height: 325px;
}

/* SMALL SCREENS */

@media only screen and (max-width: 1080px) {
    h1{
        font-size: 48px;
    }

    .Buttons {
        flex-direction: column;
    }
    
    .Ordinary{
        width: 100%;
    }
}

/* TABLETS */

@media only screen and (max-width: 768px) {
    .Container{
        flex-direction: column;
    }

    h1, .Description, .Info, .Banner{
        width: 100%;
    }

    .HeroImg{
        width: 100%;
        margin: 0 auto;
    }
}   