.swiper {
  width: 320px;
  height: 500px;
}
  
.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}
  
@media only screen and (max-width: 420px) {
  .swiper{
      width: 200px;
  }
}   