.Dropdown{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 1s;
    position: relative;
}

.Dropdown:hover .arrow{
    transform: rotate(180deg)
}

.Dropdown:hover .DropdownActive ul{
    opacity: 1;
    visibility: visible;
    top: 35px;
}


.DropdownActive ul{
    border-radius: 10px;
    background-color: white;
    width: 200px;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    top: 15px;
    left: -15px;
    gap: 0;
    opacity: 0;
    visibility: hidden;
    transition: ease-in .3s;
}

.DropdownActive ul li{
    font-weight: 500;
    padding:15px;
    width: 100%;
}

.DropdownActive ul li:hover{
    background-color: blue;
    color: white;
}

.Arrow{
    transition: ease .2s;
}

/* SMALL SCREENS */

@media only screen and (max-width: 1080px) {
    .Dropdown{
        display: none;
    }
}