.Container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
}

.Navigation{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.Title{
    font-size: 14px;
    font-weight: bold;
}

.Link{
    color: grey;
    cursor: pointer;
}

.Link:hover{
    color: #1264A3;
}

@media only screen and (max-width: 768px) {
    .Container{
        grid-template-columns:1fr;
        gap: 20px;
    }
    .Link{
        display: none;
    }
}   